{% extends 'layout.html' %}
{% block content %}
{% include 'navbar2.html' %}

<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <th>№</th>
                <th>Фото</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Скидка</th>
                <th>Итогово</th>
                <th>Обновить</th>
                <th>Удалить</th>
            </thead>
            <tbody>
                {% for key, product in session['Shoppingcart'].items() %}
                {% set discount = "%0.2f" |format((product.discount/100) * product.price|float) %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><img src="{{url_for('static', filename='images/' + product.image)}}" alt="{{product.name}}" width="50" height="50"></td>
                    <td>{{product.name}}</td>
                    <form action="{{url_for('updatecart', code=key)}}" method="POST">

                    <td>{{product.price}} ₴</td>
                    <td><input type="number" name="quantity" min="1" max="10" value="{{product.quantity}}"> шт.</td>
                    {% if product.discount > 0  %}
                    <td>{{product.discount}} % &nbsp; это {{discount}} </td>
                    {% else %}
                    <td>Скидка отсутствует</td>
                    {% endif %}
                    {% set subtotal = product.quantity|int * product.price|float %}
                    <td>{{"%0.2f"|format((subtotal|float) - discount|float)}}</td>
                    <td><button type="submit" class="btn btn-sm btn-info">Изменить</button></td>

                    </form>
                    <td><a href="{{url_for('deleteitem', id= key)}}" class="btn btn-sm btn-danger">Удалить</a></td>
                </tr>
                {% endfor %}
                </table>
            <table class="table table-sm">
            <tr>
                <td><a href="{{url_for('get_order')}}" class="btn btn-success">Оформить заказ</a></td>
                <td colspan="2"><h5>Общий итог: {{grandtotal}} ₴</h5></td>
                <td><a href="{{url_for('clearcart')}}" class="btn btn-danger btn-sm float-right mr-2">
                    Очистить корзину</a></td>
            </tr>
            </table>
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock content %}

{{session['Shoppingcart']}}
