{% extends 'layout.html' %}
{% block content %}
{% include 'navbar2.html' %}
{% include '_messages.html' %}

<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-12">
            <h2 class="text-center bg-info p-2">Завершающая стадия оформления заказа</h2>
            {% from "_formhelpers.html" import render_field %}
            <form method="POST">
            {{ form.csrf_token }}


            {{ render_field(form.first_name , class="form-control", placeholder="Ваше имя") }}
            {{ render_field(form.last_name , class="form-control", placeholder="Ваша фамилия") }}
            {{ render_field(form.mobile, class="form-control", placeholder="Номер телефона") }}
            <br>
            <label for="warehouse">Отделение НП:</label><br>
            <select  class="selectpicker myselect"  data-live-search="true"  name="warehouse" required>
                {% for warehouse in warehouses %}
                <option value="{{warehouse.id}}">{{ warehouse.name }}</option>
                {% endfor %}
            </select>

            <br>
            <br>
            <div class="dropdown">

            {{ render_field(form.callback, class="dropdown-item") }}
            </div>
            <br>






            {{ render_field(form.description, class="form-control", placeholder="Можете добавить комментарий",
            rows="6") }}

            <br>
            <button type="submit" class="btn btn-success ">Оформить заказ!</button>
            </form>
            </div>

    <div class="col-md-2"></div>
</div>
<script>


city_select = document.getElementById('city.city');




city_select.onchange = function() {
    city = city_select.value;

    fetch('warehouse/' + city).then(function(response){
        response.json().then(function(data) {
            optionHTML = '';
            for (warehouse of data.warehousecity) {
                optionHTML += '<option value="">'+ warehouse.title + '</option>'
            }
            warehouse_select.innerHTML = optionHTML;
        });
    });

}


(function ($) {

    jQuery(document).ready(function($){
        $('.myselect').selectpicker();
    });

    jQuery(window).load(function(){
    });

}(jQuery));

</script>
{% endblock content %}