html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 70px;
}


 .bsnav{
    z-index: 100;
 }

 header{
    top: 0;
    box-shadow: 0px 13px 24px 0px rgba(0,0,0,0.06);
    -webkit-box-shadow: 0px 13px 24px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 13px 24px 0px rgba(0,0,0,0.06);
 }

 header .navbar-toggler{
    outline: 0;
    border: 0;
    box-shadow: none;
 }

 .bsnav-mobile.in .navbar{
    box-shadow: -6px 0px 25px -1px rgba(0,0,0,0.11);
    -webkit-box-shadow: -6px 0px 25px -1px rgba(0,0,0,0.11);
    -moz-box-shadow: -6px 0px 25px -1px rgba(0,0,0,0.11);
 }

header .navbar-nav .nav-item{
 color: #6c757d;
}

@madia only screen and (max-width: 991px){
    header .container{
        max-width: 100%;
    }
}

.product-grid{
    padding-bottom: 20px;
    padding-top: 20px;
}


.product-grid:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image{
    position: relative;
}

.overlay{
    position: absolute;
    top: -8%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 110%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(67, 68, 68, 0.7);
}

.image:hover .overlay{
    opacity: 1;
}

.detail{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

 .buy{
    background-color: transparent;
    color: #434444;
    border-radius: 0;
    border: 1px solid #434444;
    width: 100%;
    margin-top: 20 px;
 }

footer{
    position: relative;
    height: 100%;
    background-color: #f3f3f3;
    color: #000;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 0px;
}

.bootstrap-select {
    position: relative;
    width: 505%;
}

.col-lg-4{
    margin-top:70px;
}



.card-box {
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: #d8d3d382;
}

.social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, .8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 30px
}

.social-links li a:hover {
    color: #797979;
    border: 2px solid #797979
}
.thumb-lg {
    height: 88px;
    width: 88px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.text-pink {
    color: #ff679b!important;
}
.btn-rounded {
    border-radius: 2em;
}
.text-muted {
    color: #98a6ad!important;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #0aaf2f;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

